# OS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
venv/
env/

# Tests & Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/

# Typing
.mypy_cache/
.pyre/
.ropeproject/

# Distribution / Packaging
build/
dist/
*.egg-info/
*.egg

# C/C++ Compilation Artifacts
*.o
*.out
*.so
*.dylib
*.dSYM/

# Experiment Logs & Captures
logs/
*.log
*.pcap
